body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.card
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.1);
}
h2
{
    text-align: center;
}
button
{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 300px;
}
.cell
{
    width: 300px;
    height: 30px;
    margin-top: 5px;
}